<link rel="stylesheet" href="./cuerpo.component.scss" />

<div class="panel">
  <app-panel></app-panel>
</div>
<div class="container">
  <img class="img-cuerpo" src="../../../assets/images/image-web-3-desktop.jpg" alt="" />

  <div class="col1">
    <span class="texto-grande"> The Bright Future of Web 3.0? </span>
  </div>

  <div class="col2">
    <div class="text-secondary">
      We dive into the next evolution of the web that claims to put the power of
      the plataforms back into hands of the people. Butt is it really fullling its
      promise?
    </div>
    <button type="button" class="btn text-white">
      <span>R E A D </span><span class="read-btn"> M O R E</span>
    </button>
  </div>
</div>

