
@use '../../app.component.scss';

body {
  font-family: var(--font-main);

}

.contenedor {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1920px;
  padding: 10px 0;


}

.panel {
  margin: 5%;
  max-width: 10%;
}

.imagen{
  padding: 2% 5%;max-width: 400px;
}

h2 {
  color: var(--Off-white);
}
