<link rel="stylesheet" href="../panel/panel.component.html">
<div class="panel">
  <div class="texto">
    <div>
      <h2>New</h2>
    </div>
    <div>
      <h4 class="text-white">Hydrogen VS Electric Cars</h4>
      <span class="text-secondary"
        >Will hydrogen-fueled cars ever catch up to EVs?</span
      >
    </div>
    <br />
    <hr />
    <div>
      <h4 class="text-white">The Downsides of Al Artistry</h4>
      <span class="text-secondary"
        >What are the possible adverse effects of on-demand Al image generation?
      </span>
    </div>
    <br />
    <hr />
    <div>
      <h4 class="text-white">Is VC Funding Drying Up</h4>
      <span class="text-secondary"
        >Private funding by VC firms is down 50% YOY. We take a look at what
        that means.
      </span>
    </div>
  </div>
</div>
