<link rel="stylesheet" href="../footer/footer.component.scss" />

<p class="imagen1">
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-retro-pcs.jpg"
    alt=""
  />
  <span class="texto1">01</span>
  <br />
  <br />
  <br />
  <span class="texto2">Reviving Retro PCs</span>
  <br />
  <span class="texto3"
    >What happens when old PCs are given modern upgrades?</span
  >
</p>
<p class="imagen2">
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-top-laptops.jpg"
    alt=""
  />
  <span class="texto1">02</span>
  <br />
  <br />
  <br />
  <span class="texto2">Top 10 Laptops of 2022</span>
  <br />
  <span class="texto3">Our best picks for various needs ands budgets.</span>
</p>
<p class="imagen3">
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-gaming-growth.jpg"
    alt=""
  />
  <span class="texto1">03</span>
  <br />
  <br />
  <br />
  <span class="texto2">The Growth of Gaming</span>
  <br />
  <span class="texto4">How the pandemic has sparked fresh opportunities.</span>
</p>

<!-- <p>
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-retro-pcs.jpg"
    alt=""
  />
  <span class="texto1">01</span>
  <br />
  <br />
  <br />
  <span class="texto2">Reviving Retro PCs</span>
  <br />
  <span class="texto3"
    >What happens when old PCs are given modern upgrades?</span
  >
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-top-laptops.jpg"
    alt=""
  />
  <span class="texto1">02</span>
  <br />
  <br />
  <br />
  <span class="texto2">Top 10 Laptops of 2022</span>
  <br />
  <span class="texto3">Our best picks for various needs ands budgets.</span>
  <img
    class="izquierda images-pc"
    src="../../../assets/images/image-gaming-growth.jpg"
    alt=""
  />
  <span class="texto1">03</span>
  <br />
  <br />
  <br />
  <span class="texto2">The Growth of Gaming</span>
  <br />
  <span class="texto3">How the pandemic has sparked fresh opportunities.</span>
</p> -->
