img.izquierda{
  float: left;
}

.imagen {
  margin-top: 22%;
  margin-left: 35px;
  margin-bottom: 20px;
  height: 160px;
  width: 140px;
  padding: 10px;
  position: absolute;
}

.images-pc {
  @extend .imagen;
  float: left;
}

.images-laptop{
  @extend .imagen;
  margin-left: 500px;
}

.images-gaming{
  @extend .imagen;
  margin-left: 940px;
}

.texto{
  left: 210px;
  z-index: 100;
}

.texto1 {
  @extend .texto;
  color: var(--Grayis-blue);
  font-weight: 700;
  position: absolute;
  font-size: 30pt;
  font-weight: bold;
  top: 1px;
}

.texto2 {
  @extend .texto;
  color: var(--Very-dark-blue);
  width: 250px;
  position: absolute;
  font-size: 16pt;
  font-weight: bold;
  top: 80px;
  &:hover{
    cursor: pointer;
    color: var(--Soft-red);
  }
}

.texto3 {
  @extend .texto;
  width: 290px;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  font-size: 12pt;
  position: absolute;
  top: 145px;
}
.text-laptop1, .text-laptop2, .text-laptop3{
  left: 675px
}
.text-laptop1{
  @extend .texto1;
}
.text-laptop2{
  @extend .texto2;
  width: 260px;
}
.text-laptop3{
  @extend .texto3;
  width: 250px;
}

.text-gaming1, .text-gaming2, .text-gaming3{
  left: 1110px
}
.text-gaming1{
  @extend .texto1;
}
.text-gaming2{
  @extend .texto2;
  width: 270px;
}
.text-gaming3{
  @extend .texto3;
  width: 290px;
}
