@use  "sass:math";
@mixin container($padding: 40px 0) {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $padding;
}

@mixin media {
  @media(min-width: 420px) {
    @content;
  }
}

@function pixeles-rem($pixeles){
  $resultado: math.div($pixeles, 16) * 1rem;
  @return $resultado;
}
